{
  "miui_OneX_3.9.26_e8b610edbd_4.1": {
    "project_name": "$work_folder$/miui_OneX_3.9.26_e8b610edbd_4.1.kdglibproj",
    "file_name": "/Users/kirill/Downloads/ProgressiveDownloader/miui_OneX_3.9.26_e8b610edbd_4.1.zip",
    "workDir": "/Users/kirill/SourceTree/CloudBuildr/out/artifacts/CloudBuildr_jar"
  }
}