{
  "noOta": true,
  "thinfont": false,
  "TimeZone": "Europe/Moscow",
  "buildFolder": "build",
  "preCompiled": "github::KDGDev/jmfb2-precompiled-v5::xTensionProject",
  "Additional": "github::KDGDev/jmfb-additional",
  "Patches": "github::KDGDev/jmfb-patches",
  "ScriptFolder": "miui",
  "repos_names": [
    "Russian translation for MIUI v5 based on Android 4.x (KDGDev)",
    "Ukrainian translation for MIUI v5 based on Android 4.x (KDGDev)",
    "Russian translation for MIUI v5 based on Android 4.x (BurgerZ)",
    "Russian translation for MIUI v5 based on Android 4.x (malchik-solnce)",
    "Russian translation for MIUI v5 based on Android 4.x (MIUI.su)"
  ],
  "repos_git": [
    "github::KDGDev/miui-v5-russian-translation-for-miuiandroid",
    "github::KDGDev/miui-v5-ukrainian-translation-for-miuiandroid",
    "github::BurgerZ/MIUI-v5-Translation",
    "github::malchik-solnce/miui-v5-ms",
    "github::miuisu/MIUI.SUv5-translation-Russian"
  ],
  "repos_selected": [
    true,
    true,
    false,
    false,
    false
  ]
}